*{
  margin:0;
}
.App{
  background-color:#dddede;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/images/seamless-pattern-with-different-social-media-icons_405287-75.avif");
  background-position: center;
}